# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# Entornos
.venv/
venv/
env/
.env

# Build
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Resultados generados por la librería
Resultados_imagenes/
Resultados_informes/
Resultados_md/

# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fls
*.fdb_latexmk
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
